@import '../../globals.scss';

.badge {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5vw;
	height: 1.75vh;
	border-radius: 20px;
	font-size: 1vh;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	color: rgba(var(--text), .7);
	&.default {
		background-color: rgba(var(--third), 1);
		border: 1px solid rgba(var(--secondary), 1);
	}
	&.normal {
		background-color: rgba(var(--contrast), .7);
		border: 1px solid rgba(var(--contrast), .8);
		color: rgba(white, .7);
	}
	&.error {
		background-color: rgba(var(--error), .7);
		border: 1px solid rgba(var(--error), .8);
		color: rgba(white, .7);
	}
}